<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Configurações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://pm1.narvii.com/7650/cdfcfc449fa33771199a423fa14734fbdf4feacer1-256-256v2_128.jpg" />
      </ion-avatar>
      <ion-label>Você</ion-label>
    </ion-item>
    <ion-button href="/tabs/tab3" expand="block" color="tertiary">Acessar perfil</ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Eventos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card color="tertiary">
      <img alt="Imagem promocional do filme" src="https://pbs.twimg.com/media/F4zWLs0W4AAn-Lz?format=jpg&name=large" />
      <ion-card-header>
        <ion-card-title>Five Nights at Freddy's - O Pesadelo Sem Fim</ion-card-title>
        <ion-card-subtitle>Filme</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        No Freddy Fazbear's Pizza, robôs animados fazem a festa das crianças durante o dia. Mas, quando chega a noite, eles se transformam em assassinos psicopatas.
        <br><ion-button color="secondary" href="https://www.youtube.com/watch?v=a8OI_4OepLM" target="_blank">Mais Informações</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card color="tertiary">
      <img alt="Imagem da logo do jogo" src="https://i.ytimg.com/vi/lGr_644m77o/maxresdefault.jpg" />
      <ion-card-header>
        <ion-card-title>Five Nights at Freddy's - Help Wanted 2</ion-card-title>
        <ion-card-subtitle>Jogo</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Five Nights at Freddy's: Help Wanted 2 será um game em realidade virtual e está confirmado para PS VR2 até o momento. A previsão de lançamento é 2023.
        <br><ion-button color="secondary" href="https://www.youtube.com/watch?v=vQbl3LlFR5Q" target="_blank">Mais Informações</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card color="tertiary">
      <img alt="Imagem promocional do jogo" src="https://cdn.cloudflare.steamstatic.com/steam/apps/1924720/capsule_616x353.jpg?t=1690268396" />
      <ion-card-header>
        <ion-card-title>Five Nights at Freddy's: Security Breach - Ruin</ion-card-title>
        <ion-card-subtitle>Jogo</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Você pode correr, mas não se esconder...
        Gregory está preso de novo no agora abandonado Pizzaplex e precisa da sua ajuda! Jogue como Cassie, a melhor amiga de Gregory, uma Faz-fanática e aspirante a salvadora, enquanto ela desbrava a sombria, lúgubre e dilapidada pizzaria. Ela está munida apenas de uma Faz-Ferramenta, um Roxy-Talky e uma estranha máscara de coelho, e você precisa ajudá-la a encontrar seu amigo, libertá-lo e escapar das ruínas em segurança.
        Será que você consegue salvar seu amigo, a si mesma e o Pizzaplex?
        <br><ion-button color="secondary" href="https://store.steampowered.com/app/1924720/Five_Nights_at_Freddys_Security_Breach__Ruin/" target="_blank">Mais Informações</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
